html, body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 0;
}

.spacer {
    height: 100px;
}

div {
    margin: auto;
}

#figure {
    height: 512px;
    width: 512px;
    border: 5px solid #cccccc;
}

#help {
    text-align: center;
    color: gray;
    padding: 10px;
}

#help p {
    margin: 0px;
}

svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

code {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
